.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-heading {
  color: rgba(30, 41, 59, 1);
}

.not-found-para {
  height: 64px;
  width: 522px;
  left: 459px;
  top: 644px;
  border-radius: nullpx;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(71, 85, 105, 1);
}

.not-found-home-button {
  height: 48px;
  width: 123px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  padding: 12px, 24px, 12px, 24px;
  background: rgba(247, 147, 30, 1);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .not-found-image {
    height: 154.99781799316406px;
    width: 139.9966583251953px;
    left: 0.00164794921875px;
    top: 0.001953125px;
    border-radius: 0px;
  }

  .not-found-heading {
    height: 32px;
    width: 151px;
    left: 105px;
    top: 319px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  .not-found-para {
    height: 72px;
    width: 312px;
    left: 24px;
    top: 363px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .not-found-home-button {
    height: 32px;
    width: 98px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 8px, 16px, 8px, 16px;
    background: rgba(247, 147, 30, 1);
  }
}
